.about-section{
	background-color: #ffffff;

	.section-title{
		padding: 0 0 50px 0;

		h1 {
			color: #222222;
			font-size: 25px;
			font-weight: 700;
			text-transform: uppercase;
			border-right: 5px solid #d6b161;
			padding-right: 10px;
			letter-spacing: 0.5pt;
			text-align: right;
			direction: rtl;
		}
	}

	.section-picture {
		position: relative;

		img {
			display: block;
			margin: 0 auto;
			padding: 0;
			height: auto;
			vertical-align: top;
			max-width: 100%;
			backface-visibility: hidden;
		}
	}

	.section-content {
		padding: 0 2px;

		.tab-content{
			h3{
				color: #d6b161;
				font-weight: 400;
				margin-top: 0;

				span{
					color: #5f5f5f;
					font-weight: 300;
				}
			}

			p {
				color: #666666;
				font-size: 16px;
				line-height: 25px;
				letter-spacing: 0.1pt;
				direction: rtl;
			}
		}
	}
}
