.testimonials-section {
	background: #f7f7f7;
	.item p {
		font-size: 18px;
		line-height: 30px;
		text-align: inherit;
		letter-spacing: 0.5px;
		font-style: italic;
		direction: rtl;
	}

	.item {
		position: absolute;
		left: 100%;
		transition: .6s ease-in-out left;
		display: block;
		width: 100%;
		&.active {
			left: 0;
		}
		&.moveLeft {
			left: -100%;
		}
		&.moveRight {
			left: 100%;
		}
	}

	.carousel-inner {
    position: relative;
		height: 307px;
    width: 100%;
    overflow: hidden;
	}

	.carousel-inner .item h5 {
		font-weight: 700;
		letter-spacing: 1px;
	}

	.testimonials-row {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
}

/* carousel */
#quote-carousel {
	padding-bottom: 30px;
	text-align: center;
	min-height: 337px;
	.carousel-indicators {
		left: 0%;
		top: auto;
		bottom: -10px;
		width: 100%;
		margin-left: 0;
		margin-bottom: 0;
		li {
			background: #c0c0c0;
			height: 6px;
			width: 6px;
		}
		li + li {
			margin-right: 10px;
		}
		.active {
			background: #333333;
			height: 6px;
			width: 6px;
			margin-bottom: 1px;
		}
	}
	blockquote {
		border: none;
		padding: 20px 0 0 0;
	}
}
